name: CI/CD Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Run build
        run: echo "Этап BUILD:Приложение собирается..."

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          echo "Этап TEST: Запускаются тесты..."
          python -c "print('Все тесты прошли успешно')"

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4
      - name: Deploy to staging
        run: echo "Этап DEPLOY:Развёртывание на staging..."
